.next
.swc
certificates
out

node_modules

test-results
playwright-report
playwright/.cache

public/robots.txt
public/sitemap.xml
public/.index/*
public/Users/Public/**

!public/Users/**/desktop.ini
!public/Users/Public/Desktop
!public/Users/Public/Desktop/My PC.url
!public/Users/Public/Desktop/Chat.url
!public/Users/Public/Desktop/Portal Home.url
!public/Users/Public/Desktop/Portal Calendar.url
!public/Users/Public/Desktop/Portal Contacts.url
!public/Users/Public/Desktop/Portal CRM.url
!public/Users/Public/Desktop/Portal Finance.url
!public/Users/Public/Desktop/Portal Job Tracker.url
!public/Users/Public/Desktop/Portal Tasks.url
!public/Users/Public/Desktop/Portal Notes.url
!public/Users/Public/Desktop/Portal Video Chat.url
!public/Users/Public/Desktop/Portal OpenAI Workbench.url
!public/Users/Public/Desktop/Portal Meditation.url
!public/Users/Public/Desktop/Portal Wellness.url
!public/Users/Public/Documents
!public/Users/Public/Music
!public/Users/Public/Pictures
!public/Users/Public/Pictures/prompts.json
!public/Users/Public/Pictures/slideshow.json
!public/Users/Public/Start Menu
!public/Users/Public/Start Menu/*.url
!public/Users/Public/Start Menu/Emulators
!public/Users/Public/Start Menu/Emulators/*.url
!public/Users/Public/Start Menu/Games
!public/Users/Public/Start Menu/Games/ClassiCube.url
!public/Users/Public/Start Menu/Games/DX-Ball.url
!public/Users/Public/Start Menu/Games/Quake III Arena.url
!public/Users/Public/Start Menu/Games/Space Cadet.url
!public/Users/Public/Start Menu/Portal
!public/Users/Public/Start Menu/Portal/*.url
!public/Users/Public/Start Menu/Portal/**
!public/Users/Public/Videos
